.container-cs {
  margin: 20px;
}

.title {
  margin-left: 750px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  border: 1px solid darkorange;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: darkorange;
  color: white;
}

.custom-button-edit{
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.custom-button-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.custom-button-edit:hover,
.custom-button-delete:hover {
  background-color: #ff8c00; /* изменение цвета при наведении */
}
