/* register.component.css */

.custom-register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;

}

.custom-register-heading {
  text-align: center;
  color: #333;
}

.custom-register-form {
  margin-top: 20px;
}

.custom-form-group {
  margin-bottom: 15px;
}

.custom-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.custom-register-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: darkorange;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-register-button:hover {
  background-color: #45a049;
}
